{% extends "shop/base.html" %}

{% block content %}

<main role="main">

  <div class="container">
    <!-- Example row of columns -->

    <h1>Смартфоны</h1>

    <div class="row col-md-12">

      {% include "shop/include/item-display.html" %}

    </div> <!-- /container -->
    
    <br>

    <div class="pagination">
      <span class="step-links">
          {% if item_list.has_previous %}
              <a href="?page=1" class="btn btn-light">&laquo; первая</a>
              <a href="?page={{ item_list.previous_page_number }}" class="btn btn-light">предыдущая</a>
          {% endif %}
  
          <span class="current">
              Страница {{ item_list.number }} из {{ item_list.paginator.num_pages }}.
          </span>
  
          {% if item_list.has_next %}
              <a href="?page={{ item_list.next_page_number }}" class="btn btn-light">следующая</a>
              <a href="?page={{ item_list.paginator.num_pages }}" class="btn btn-light">последняя &raquo;</a>
          {% endif %}
      </span>

</main>

{% endblock %}